#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: maroon;
}

#navbar a {
    /* This targets the anchor tags within the navbar. */
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}

#navbar a:hover {
    color: skyblue;
}

body {
    background-color: lightsteelblue;
    font-family: 'Courier New', Courier, monospace;
}
